
<% reading_id = reading_id(reading) %>
<div class="row mt-5" id="reading_details_<%= reading_id %>">
    <div class="col">
        <input type="number" class="form-control" name="readings[<%= reading_id %>][data]" placeholder="Glucose level" value="<%= reading.data %>">
        <small class="text-danger" id="data_error_<%= reading_id %>"></small>
    </div>
    <div class="col">
        <input type="time" class="form-control" name="readings[<%= reading_id %>][recorded_at]" value="<%= get_hh_mm(reading.recorded_at) %>">
        <small class="text-danger" id="recorded_at_error_<%= reading_id %>"></small>
    </div>
    <div class="col">
        <div class="btn btn-danger delete-reading" id="<%= reading_id %>">Delete</div>
    </div>
</div>